package view

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<!-- Tailwind css -->
			<link rel="stylesheet" href="/static/main.css"/>
			<!-- Alpine Plugins -->
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/resize@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/anchor@3.x.x/dist/cdn.min.js"></script>
			// <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
			<!-- Alpine Core -->
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<!-- HTMX Plugins -->
			// <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
			// <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
			// <script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"></script>
			// <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
			// <script src="https://unpkg.com/htmx-ext-include-vals@2.0.0/include-vals.js"></script>
			<!-- HTMX -->
			<script defer src="https://unpkg.com/htmx.org@2.0.3"></script>
			<title>Document</title>
		</head>
		<body></body>
	</html>
}
